
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form asp-action="Add" asp-controller="Home" method="post">
    <input name="key" placeholder="key"/>
    <input name="value" placeholder="value"/>
    <input type="submit" value="Add" />
</form>
